
#navbar-css {
  position: relative;
  width: 100vw;
  height: 55px;
  background-color: rgba(0, 0, 0, 0.89);
}

#nav-brand-css {
  opacity: .7;
  margin: 0 20px;
  color: white;
  text-shadow: 1px 1px 1px aquamarine;
}

#hamburger-css {
  border: none;
  opacity: .7;
  margin: -30px 20px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 1px aquamarine;
}

#nav-css {
  background-color: rgba(0,0,0,0.7);
  width: 50vw;
  height: 100vh;
  margin-left: 50vw;
}

#nav-link-css {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  align-self: flex-end;
  margin-right: 60px;
  margin-top: 10px;
  padding: auto;
}

#nav-link-title {
  font-size: 90px;
  transition: .3s;
  color: rgb(236, 236, 236);
}

#nav-link-title:hover {
  color: rgb(101, 199, 166);
  font-size: 100px;
  text-shadow:  2px 2px 8px #ff005c;
}
